section {
    background-image: url(./images/banner.png);
    background-position: top;
}

main {
    margin: auto;
    padding: 0rem;
    width: 90%;
}

#my-card {
    display: flex;
    justify-content: space-between;
}

#my-card-details {
    width: 60%;
}

img {
    width: 35%;
    box-shadow: 2px 2px 10px rgba(98, 98, 98, 0.6);
    border-radius: 0.2rem;
    object-fit: cover;
}

h3 {
    padding: 0rem;
    font-size: 2rem;
    text-align: left;
    color: rgb(33, 33, 33);
}

main p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: rgb(56, 56, 56);
}

footer {
    margin-top: 3rem;
}

footer p {
    color: grey;
    font-weight: 200;
    margin-top: 3rem;
}

button {
    margin: 0rem;
    padding: 0.6rem 1rem;
    border: none;
    color: rgb(240, 240, 240);
    background-color: black;
    cursor: pointer;
}

button:hover {
    background-color: rgb(30, 30, 30);
}

@media(max-width: 1080px) {
    main {
        margin-top: 2rem;
        width: auto;
        display: flex;
        justify-content: end;
    }

    #my-card {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    #my-card-details {
        width: 90%;
    }

    img {
        width: 70%;
    }

    h3 {
        font-size: 3.5rem;
    }

    main p {
        font-size: 1.5rem;
    }

    footer {
        margin: 5rem auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    button {
        padding: 2rem 3rem;
        font-size: 2rem;
    }
}