section {
    background-image: url("/images/banner.png");
    background-position: top;
}

main {
    margin: 1rem;
    padding: 0rem;
}

#my-card {
    display: flex;
    justify-content: center;
}

#my-card-details {
    padding-right: 2rem;
}

#my-card-image img {
    width: 30rem;
    box-shadow: 2px 4px 10px rgb(69, 69, 69);
    border-radius: 5px;
}

h3 {
    margin: 3rem 0rem 2rem 0rem;
    padding: 0rem;
    font-size: 2rem;
    text-align: left;
}

main p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /* margin: 0rem 2.5rem; */
    width: 800px;
    /* padding: 0px 40px 30px 40px; */
    text-align: justify;
}

footer {
    margin-top: 3rem;
}

footer p {
    font-weight: 200;
    margin-top: 3rem;
}

.footer-link-style {
    margin: 0rem;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: white;
    background-color: black;

}

.footer-link-style:hover {
    background-color: rgb(70, 70, 70);
}