:root {
  --primary-font: 'Geologica', sans-serif;
  --secondary-font: 'Kanit', sans-serif;
  --font-color-black: rgb(32, 32, 32);
  --font-color-white: rgb(240, 240, 240);
  --font-color-off-black: rgb(100, 100, 100);
  --color-begie-lighter: rgb(249, 248, 246);
  --color-begie-light: rgb(239, 233, 227);
  --color-begie-medium: rgb(217, 207, 199);
  --color-begie-dark: rgb(201, 181, 156);
  --color-begie-contrast: rgb(220, 207, 192);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--color-begie-lighter);
    color: var(--font-color-black);
    display: flex;
    justify-content: space-around;
}

#side-window{
    display: grid;
    grid-template-rows: minmax(auto, 25vh) minmax(auto, auto) minmax(20vh, auto);
    grid-template-columns: 20vw;
}

#name-icon{
    overflow: hidden;
    align-self: center;
    text-align: right;
}

#name-icon h2{
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    animation: slideIn 0.8s ease-out;
    animation-fill-mode: forwards;
    display: inline-block;
}

@keyframes slideIn{
    0% {
        transform: translateX(20vw);
    }
    100%{
        transform: translateX(0);
    }
}

#navigation-list{
    padding: 3rem 2rem;
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: end;
}

#navigation-list ul{
    list-style: none;
    line-height: 1.8rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 0.8rem;
}

#navigation-list a{
    letter-spacing: 0.18rem;
    text-decoration: none;
    color: rgb(100, 100, 100);
    transition: 0.15s;
    transition-timing-function: ease
}

#navigation-list a:hover{
    color: rgb(33, 33, 33);
    margin-left: 0.5rem;
}

#page-heading{
    grid-row: 1/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: sideways-lr;
    width: 2rem;
}

#page-heading::before,
#page-heading::after{
    content: "";
    width: 0.5rem;
    flex-grow: 1;
    background-color: var(--color-begie-dark);
}

#page-heading h1{
    margin: 2rem 0;
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    cursor: default;
}

main{
    margin: auto 3rem auto 1rem;
    height: 95vh;
    display: flex;
    column-gap: 1rem;
}

#first-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    animation: fadeIn 0.5s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 50ms;
}

.my-photo{
    width: fit-content;
    height: 60vh;
}

.my-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#personal-details{
    padding: 1rem 1rem;
    background-color: var(--color-begie-light);
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    column-gap: 0.3rem;
    font-size: 0.7rem;
    font-family: var(--secondary-font);
    font-weight: 300;
}

#personal-details span:nth-child(odd) {
    font-weight: 500;
    margin-left: auto;
}

#personal-details span:nth-child(even){
    color: var(--font-color-off-black);
}

#second-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 250ms;
}

#second-section h3{
    padding-bottom: 1rem;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 500;
}

#intro{
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 75%;
    border: 1px solid var(--color-begie-medium);
    /* background-color: var(--color-begie-light); */
}

#intro p{
    margin-bottom: 0.4rem;
    font-family: var(--secondary-font);
    font-size: 0.7rem;
    font-weight: 300;
    text-align: justify;
}

#intro p:last-child{
    margin-bottom: 0;
}

#third-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    animation: fadeIn 0.5s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 450ms;
}

#third-section article{
    padding: 2rem 1rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-begie-light);
}

#button-cv{
    margin-right: auto;
    padding: 0.5rem 1rem;
    border-style: none;
    font-size: 0.7rem;
    font-family: var(--secondary-font);
    color: var(--font-color-black);
    background-color: var(--color-begie-dark);
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-in;
    border: 2px solid var(--color-begie-dark);
}

#button-cv:hover{
    background-color: var(--color-begie-medium);
}

.arrow-left, 
.arrow-right{
    margin-left: 0.5rem;
    padding: 0.4rem;
    text-decoration: none;
    color: var(--font-color-off-black);
    cursor: pointer;
    /* align-self: center; */
    border: 1px solid var(--color-begie-dark);
    transition: 0.2s;
}

.arrow-left:hover, 
.arrow-right:hover{
    background-color: var(--color-begie-medium);
}

footer{
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-begie-dark);
}

footer p{
    margin: 1rem auto;
    width: fit-content;
    font-family: var(--primary-font);
    font-size: 0.7rem;
    font-weight: 200;
    color: var(--font-color-black);
}

.material-symbols-outlined {
    align-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}