section{
    background-image: url(./images/academic.jpg);
    background-position: center;
}

main {
    margin: 1rem 5%;
    padding: 0rem;
}

#academic-details {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    gap: 10px;
}

.card-heading h3 {
    /* text-align: left; */
    margin-bottom: 0rem;
    font-size: 1.5rem;
}

.card-heading h6 {
    /* text-align: left; */
    margin: 0.5rem 0rem 2rem 0rem;
    font-weight: 400;
    font-size: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.5s;
}

.card img{
    width: 200px;
    height: 200px;
}

.card:hover{
    box-shadow: 1px 1px 10px rgb(113, 113, 113);
}

.card-details{
    text-align: left;
    display: flex;
    justify-content: center;
}

.parent-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.04rem;
    word-spacing: 0.1rem;
    list-style: disc;
}

.parent-list li{
    margin: 0.5rem 0rem;
}

.child-list {
    font-weight: 500;
    list-style: circle;
}

.child-list li{
    margin: 0.3rem;
}

.list-value {
    font-weight: 500;
}

footer p {
    color: grey;
    font-weight: 200;
    margin-top: 3rem;
}

.line{
    border-left: solid;
    border-color: rgb(195, 195, 195);
}