body {
    margin: 0rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Geologica', sans-serif;
    background-image: url(./images/w3.jpg);
    /* background-image: url("/images/w3.jpg"); */
    /* we need to add . to the link so that our image will load on github */
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin: 5rem 0rem;
    font-size: 4rem;
    letter-spacing: 0.3rem;
}

main ul {
    margin: 3rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main li {
    margin: 1rem;
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
}

main a:hover {
    letter-spacing: 0.12rem;
    color: rgb(180, 180, 180);
}

footer {
    padding: 1.5rem;
}

footer ul {
    padding: 0rem;
    display: flex;
    justify-content: center;
}

footer li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

img {
    margin: 3px 8px;
    padding: 3px;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    transition: 0.5s;
}

img:hover {
    rotate: -30deg;
}

footer p {
    margin: 0px;
    padding: 0px;
    font-size: 0.1rem;
    font-weight: 100;
}