body {
    margin: auto;
    padding-top: 150px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    text-align: center;
    font-family: 'Geologica', sans-serif;
    background-image: url(./images/w3.jpg);
    /* background-image: url(/images/w3.jpg); */
    /* we need to add . to the link so that our image will load on github */
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 65px;
    letter-spacing: 0.04em;
}

main ul{
    margin: 50px;
    padding: 0px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main li{
    margin: 15px;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

main a:hover {
    letter-spacing: 0.1em;
    color: rgb(180, 180, 180);
}

footer {
    padding: 24px;
}

footer ul{
    padding: 0px;
    display:flex;
    justify-content: center;
}

footer li{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

img {
    margin: 3px 8px;
    padding: 3px;
    width: 40px;
    height: 40px;
    display: inline-block;
    transition: 0.5s;
}

img:hover{
    rotate: -30deg;
}

footer p{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 100;
}