section {
    background: url(./images/personalTimeline.jpg);
    background-size: cover;
    background-position: bottom;
    /* this is how we declare and use variables in css.
    --variable-name: rgb(202, 202, 202);
    background-color: var(--variable-name); */
}

body {
    background-color: rgb(245, 245, 245);
}

#timeline {
    margin: 0rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 0.5rem 1fr;
    gap: 2rem 2.5rem;
}

#mobile-timeline{
    display: none;
}
 
#line-element {
    border-radius: 4px;
    grid-column: 2/span 1;
    grid-row: 1/span 5;
    background-color: rgb(130, 130, 130);
}

.event-container {
    padding: 1rem 1rem 0rem 1rem;
    text-align: left;
    background-color: white;
    transition: transform 0.3s ease-out;
}

#top-left-container {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 3rem;
    box-shadow: -2px 2px 12px rgba(90, 90, 90, 0.359), 2px 2px 12px rgba(90, 90, 90, 0.359);
}

#right-container {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: -2px 2px 12px rgba(90, 90, 90, 0.359), 2px 2px 12px rgba(90, 90, 90, 0.359);
}

#bottom-left-container {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: -2px 2px 12px rgba(90, 90, 90, 0.359), 2px 2px 12px rgba(90, 90, 90, 0.359);
}

.event-container:hover {
    transform: scale(1.03);
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}

h3 {
    margin: 0rem auto;
    font-size: 1.5rem;
    color: rgb(40, 40, 40);
}

h4 {
    margin-top: 0rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
}

main p {
    margin: 2rem auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(80, 80, 80);
    text-align: left;
}

.event-container-exception {
    background-color: none;
}

@media(max-width: 1080px) {
    #timeline {
        display: none;
    }

    #mobile-timeline{
        margin: 3rem auto;
        padding-left: 1rem;
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 2rem; 
    }

    #content{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #line{
        background-color: grey;
        width: 1.5rem;
        border-radius: 1rem;
    }

    .container{
        margin: 1rem auto;
        padding: 3rem 3rem 2rem 3rem;
        width: 90%;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        box-shadow: -2px 2px 16px rgba(90, 90, 90, 0.359), 2px 2px 16px rgba(90, 90, 90, 0.359);
        /* background-color: white; */
        transition: 0.3s ease-in;
        background: linear-gradient(45deg, white, rgb(209, 201, 158));
    }

    .container:hover{
        transform: scale(1.03);
    }

    h3 {    
        text-align: right;     
        font-size: 3rem;
    }

    hr{
        width: 90%;
    }

    h4 {
        font-size: 2rem;
        text-align: right;
        font-weight: 100;
    }

    main p{
        font-family: 'Kanit', sans-serif;
        color: rgb(114, 114, 114);
        font-size: 2rem;
        font-weight: 500;
    }
}