body{
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(180, 180, 180));
}

main{
    margin: 100px;
}

main h2, h4{
    text-transform: uppercase;
    margin: 5px;
    text-align: left;
}

h4{
    font-weight: 400;
    text-transform: none;
}

.project{
    margin: 50px 50px;
    padding: 24px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.9);
    border-radius: 8px;
}

.project-headings{
    display: flex;
    align-items: center;
    justify-content: left;
}

.project-details{
    padding: 24px;
}

.project-link{
    text-align: right;
}

.project-link a{
    padding: 10px 20px;
    transition: 0.2s;
}

.project-link a:hover{
    background-color: white;
    border-radius: 4px;
}

.project a{
    text-align: right;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
}

img{
    width: 200px;
}

p{
    text-align: justify;
    font-weight: 300;
}