* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Geologica', sans-serif;
    background-color: rgb(245, 245, 245);
}

section {
    height: 40vh;
    color: white;
}

header h2 {
    margin: 0rem;
    padding-top: 1rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content:center;
    padding: 0rem 1rem;
    list-style: none;
}

.nav-list {
    margin: 1.5rem;
    display: inline;
}

.nav-list-link {
    text-decoration: none;
    color: white;
}

.nav-list-link:hover {
    color: rgb(90, 90, 90);
}

section h1 {
    height: 15rem;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#overlay {
    display: none;
}

#expand {
    display: none;
}

#copyright-paragraph {
    margin: 1rem auto;
    color: grey;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 200;
}

/* #copyright-paragraph::before {
    content: '';
    margin: 1rem auto;
    width: 80%;
    height: 0.1rem;
    display: block;
    background-color: rgb(145, 179, 180);
} */