body {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    font-family: 'Geologica', sans-serif;
    background-color: rgb(245,245,245);
}

header {
    padding-top: 1rem;
    letter-spacing: 0.1rem;
}

header h1 {
    margin: 0rem; 
    font-size: 2rem;
}

nav ul {
    padding: 0rem 1rem;
    list-style: none;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.nav-list {
    margin: 1.5rem;
    display: inline;
}

.nav-list-link {
    text-decoration: none;
    color: white;
}

.nav-list-link:hover {
    color: rgb(90, 90, 90);
}

section h2 {
    height: 15rem;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
}

footer p {
    color: grey;
    font-size: 0.7rem;
    font-weight: 200;
    margin-top: 3rem;
}